@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Work+Sans&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.leaflet-container {
    width: 100%;
    height: calc(100vh - 100px);
}

.css-gmuwbf{
    margin-top: 12px;
}